#banner
  #banner-underlay
    %h1 C. L. Robinson
    %div
      Full-stack web developer.
      %br
      Pro-level writer/editor.
      %br
      Hobbyist game designer.
    #banner-info
      #address
        New Westminster, BC, Canada
      #phone
        (604) 655.1599
      #email
        christien.robinson@gmail.com
      #linkedin
        %a{href: "//ca.linkedin.com/in/clrobinsonweb", target: '_blank'} ca.linkedin.com/in/clrobinsonweb