#education.panel
  %h2 Education

  %h3 Web Development Bootcamp
  %p Lighthouse Labs
  %p June 2015 to August 2015
  %ul
    %li
      Coursework Included: Ruby, JavaScript, Object-Oriented Programming Best Practices, Ruby on Rails, ActiveRecord, SQL, jQuery, Google API, Wikipedia API, AJAX, Advanced CSS, HTML5.
    %li
      For more info:
      %a{href: "https://www.lighthouselabs.ca/"} Lighthouse Labs Website

  %h3 Bachelor of Arts
  %p UBC Okanagan
  %p September 2006 to June 2009
  %ul
    %li Philosophy Major
    %li Writing and Philosophy Tutor
    %li GPA 80% (A-)

  %h3 Undergraduate Transfer
  %p Douglas College
  %p September 2003 to June 2006
  %ul
    %li Transferred coursework for UBC Okanagan degree credit.