#education.panel
  %h2 Education
  %p Bootcamps and university degrees.

  .entry
    .head
      .row.small-collapse
        .column.small-10
          %h3 Web Development Bootcamp
          .sub-head
            .row.small-collapse
              .column.small-12
                Lighthouse Labs
              .column.small-12.hshs
                Jun 2015 to Aug 2015
        .column.small-2.expand-wrap
          .expand= icon('chevron-down')
    .body
      %ul
        %li
          Coursework Included: Ruby, JavaScript, Object-Oriented Programming Best Practices, Ruby on Rails, ActiveRecord, SQL, jQuery, Google API, Wikipedia API, AJAX, Advanced CSS, HTML5.
        %li
          For more info:
          %a{href: "https://www.lighthouselabs.ca/", target: '_blank'} Lighthouse Labs Website  

  .entry
    .head
      .row.small-collapse
        .column.small-10
          %h3 Bachelor of Arts
          .sub-head
            .row.small-collapse
              .column.small-12
                UBC Okanagan
              .column.small-12.hshs
                Sep 2006 to Jun 2009
        .column.small-2.expand-wrap
          .expand= icon('chevron-down')
    .body
      %ul
        %li Philosophy Major
        %li Writing and Philosophy Tutor
        %li GPA 80% (A-)

  .entry
    .head
      .row.small-collapse
        .column.small-10
          %h3 Undergraduate Transfer
          .sub-head
            .row.small-collapse
              .column.small-12
                Douglas College
              .column.small-12.hshs
                Sep 2003 to Jun 2006
        .column.small-2.expand-wrap
          .expand= icon('chevron-down')
    .body
      %ul
        %li Transferred coursework for UBC Okanagan degree credit.
