#history.panel
  %h2 Employment History

  %h3 Lead Ruby on Rails Developer
  %p RedStamp Agency
  %p May 2016 to July 2016
  %p Brief description here. 
  %ul
    %li Responsible for full-stack feature development for the "Chime" project. 
    %li Provides feature consultation for ongoing development, based on non-developer (stakeholder) requests and feedback. 
    %li Recommended and wrote full test suite for app. 

  %h3 Mentor (Part-Time)
  %p Lighthouse Labs
  %p February 2016 to May 2016
  %p Brief description here. 
  %ul
    %li Provided one-on-one support to students undergoing the immersive web development bootcamp.
    %li Tutored students in the basics of Ruby, Rails, databases, Sinatra, CSS, and JavaScript.
    %li Reviewed student code and gave and constructive feedback.

  %h3 Web Developer
  %p Black Tusk Media
  %p August 2015 to February 2016
  %p Brief description here. 
  %ul
    %li Built asynchronous course builder using jQuery.
    %li Transitioned Ruby on Rails app to use ActiveResource with API.
    %li Built 90% of API project in Ruby on Rails.
    %li Designed and built smartphone simulation builder using jQuery.
    %li Managed git repositories in correspondence with JIRA project management tool (sprint management).

  %h3 Senior Editor and Publications Executive
  %p iData Research
  %p November 2012 to April 2015
  %p Brief description here. 
  %ul
    %li Edited research reports for grammar, punctuation, spelling, and consistency.
    %li Tracked anywhere from 8 to 12 market research projects simultaneously.
    %li Led workshops to teach writing and formatting best practices.
    %li Organized archive of more than 500 reports to be significantly more efficient.
    %li Implemented report product version control systems.
    %li Spearheaded and supervised office-wide software upgrade.
    %li Designed report templates from the ground up.
    %li Assisted in managing a team of researchers.

  %h3 Lead Copywriter
  %p True North Management
  %p September 2010 to February 2012
  %p Brief description here. 
  %ul
    %li Created content for 6 e-commerce websites: blogs and email newsletters.
    %li Ensured writing quality and production workflow.
    %li Provided product descriptions, targeted for audience interests.
    %li Coded HTML and CSS.
    %li Edited article submissions.

  %h3 Content Strategist
  %p Array Studios
  %p September 2010 to February 2012
  %p Brief description here. 
  %ul
    %li Consulted with clients regarding options and recommendations.
    %li Interviewed product experts to identify key selling points and features.
    %li Created goal-driven, branded website content after interviews.
    %li Developed and implemented SEO and online marketing campaigns.

  %h3 Subcontractor
  %p June 2009 to September 2010
  %p Brief description here. 
  %ul
    %li Wrote and edited websites, presentations, brochures, and print pieces.
    %li Edited for 'Island Times Magazine' startup business.