.project
  %h3 vDevice API
  %p.client Black Tusk Media
  %p.intro This project serves simulation images (screenshots) and simulator architecture data. Blacktusk admins can log into the API and create new smartphone simulators, as well as manage client subscriptions.
  .slick-wrapper
    .slick
      %div= image_tag 'vdevice-api-1'
      %div= image_tag 'vdevice-api-2'
      %div= image_tag 'vdevice-api-3'
      %div= image_tag 'vdevice-api-4'
  %p.slick-info{data: {slickinfo: 0}}
    API data integrates with Angular app to display smartphone simulation. This required CORS 'preflight' request support in Rails. 
  %p.hide.slick-info{data: {slickinfo: 1}}
    "Simulation builder" was built using jQuery and includes clickable hotspot mapping, screen linking, and hardware device button mapping (e.g. a smartphone's 'back' button). 
  %p.hide.slick-info{data: {slickinfo: 2}}
    Rewrite.
  %p.hide.slick-info{data: {slickinfo: 3}}
    Rewrite.
  .end
  