@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "banner";
@import "contact";
@import "education";
@import "game_project";
@import "history";
@import "projects";

body {
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 400;
}

.panel {
  padding: 15px;
}
