@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "banner";
@import "contact";
@import "education";
@import "game_project";
@import "history";
@import "projects";
@import "entry";
@import "nav";

body {
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  font-weight: 400;
}

h2 {
  position: relative;

  &::after {
    content: '';
    width:100%;
    position: absolute;
    left: 0;
    top: 30px;
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,0) 100%);
    z-index: 1;
  }
}

#main {
  margin-top: 69px;
}

.panel {
  padding: 15px;

  .intro {}

  .content {}

  .slick {
    margin: 30px;
  }

  .slick-wrapper {
    background: #ddd;
    padding: 1px 1px;
    margin: 20px 0;
  }

  .slick-info {}
}



@media (min-width: 640px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    clear: both;

    &::after {
      top: 45px;
    }
  }

  h3 {
    font-size: 1.5rem;
    clear: both;
  }

  .panel {
    margin-left: 12%;
    margin-right: 12%;

    .intro {
      border-bottom: 1px solid #eee;
      padding-bottom: 16px;
    }

    .end {
      margin-bottom: 24px;
      clear: both;
    }

    .slick-wrapper {
      width: 65%;
      float: right;
      margin: 0;
      margin-left: 10px;
    }
  }
}
