@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "foundation_and_overrides";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "banner";
@import "contact";
@import "education";
@import "game_project";
@import "history";
@import "projects";
@import "entry";

body {
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  font-weight: 400;
}

h2 {
  position: relative;

  &::after {
    content: '';
    width:100%;
    position: absolute;
    left: 0;
    top: 30px;
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,0) 100%);
    z-index: 1;
  }
}

.panel {
  padding: 15px;
}

.slick {
  margin: 30px;
}
