.entry {
  /**/

  .head {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.6s ease-in-out;

    .sub-head {
      opacity: 0.6;
      font-size: 14px;
    }

    .expand-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .expand {
        transition: all 0.6s ease-in-out;
        color: #666;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        transform: rotate(90deg);
      }
    }    
  }

  .body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
  }

  &.active {
    /**/

    .head {
      padding: 0px;
      border: 0px solid white;

      .expand-wrap .expand {
        color: transparent;
        transform: rotate(0deg);
      }
    }

    .body {
      max-height: 600px;
      opacity: 1;
    }
  }
}



@media (min-width: 640px) {

  .entry {

    .head {
      border: 1px solid #fff;
      border-top: 1px solid #eee;

      .expand-wrap {
        position: relative;

        &::before {
          transition: all 0.3s ease-in-out;
          content: 'Click to Expand';
          color: transparent;
          position: absolute;
          width: 100px;
          top: 5px;
          right: 25px;
          font-size: 12px;
          z-index: -1;
        }
      }

      &:hover {
        /**/

        .expand-wrap::before {
          color: #bbb;
        }
      }
    }

    &.active {
      /**/

      .head {
        /**/

        .expand-wrap .expand {
          border: 0px solid #fff;
        }

        .expand-wrap::before {
          color: transparent;
        }
      }
    }
  }
}