#header {
  font-size: 30px;
  padding: 12px 20px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  .column {
    padding: 0;
  }

  #nav-sandwich {
    cursor: pointer;
  }
}