#nav
  .nav-item{data: {nav_id: 'education'}} Education
  .nav-item{data: {nav_id: 'projects'}} Development Projects
  .nav-item{data: {nav_id: 'history'}} Employment History
  .nav-item{data: {nav_id: 'game_project'}} Game Project: Apotheosis
#nav-overlay
